<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Contact Data Collection</span>
    <span class="space"></span>
    <button routerLink="./Home" mat-button>Home</button>
    <button routerLink="./ContactList" mat-button>Contact</button>
    <button mat-button>About</button>
    <button mat-icon-button>
        <mat-icon>notifications_none</mat-icon>
    </button>
    <button routerLink="" mat-icon-button>
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet> 
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Contact Data Collection</p>
    </div>
</footer>
